.team-name { float: left;}
.score { float: right;}
.left-align {
    text-align: left;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}

#mapPage {
    height: calc(100% - 42px);
}

#map {
	height: 100%;
}

#map-content{
	height: 100%;
	padding: 0px; 
	margin:0px;
	z-index: -1;
}