.team-name { float: left;}
.score { float: right;}
.left-align {
    text-align: left;
}
.center-align {
    text-align: center;
}
.right-align {
    text-align: right;
}
.matchday-label {
    line-height: 60px;
}

#map-page {
    height: calc(100% - 100px);
}

#map-content{
	height: 100%;
	padding: 0px; 
	margin:0px;
	z-index: -1;
}

#map {
	height: 100%;
}

.ui-grid-c>.time-cell {
    width: 15%;
    line-height: 40px;
}
.ui-grid-c>.match-cell {
    width: 75%;
}
.ui-grid-c>.score-cell {
    width: 10%;
    text-align: right;
}
